In [160]:
import pandas as pd
import csv

In [161]:
filepath = "E:/study/NLP/dataset/fullData/"
filename = filepath + "essays/dev.txt"
originpath = "E:/study/NLP/dataset/wait_for_process/"
originname = originpath + "essays/dev.txt"
resultpath = "E:/study/NLP/dataset/"
resultname = resultpath + "dev.txt"

In [162]:
dataset = pd.read_csv(filename,sep='\t',quoting=csv.QUOTE_NONE,header=None,encoding='utf8',skip_blank_lines=False,usecols=[0,1,2])
dataset.columns = list('012')
dataset

                  0    1      2
0      Universities    O      O
1           require    O      O
2          students    O      O
3                to    O      O
4             study    O      O
...             ...  ...    ...
43528             a    I  Claim
43529        modern    I  Claim
43530       library    I  Claim
43531             .    O      O
43532           NaN  NaN    NaN

[43533 rows x 3 columns]

In [163]:
process_dataset = pd.read_csv(originname,sep='\t',quoting=csv.QUOTE_NONE,header=None,encoding='utf8',skip_blank_lines=False,usecols=[0,1])
process_dataset.columns = list('01')
process_dataset

                  0        1
0      Universities        O
1           require        O
2          students        O
3                to        O
4             study        O
...             ...      ...
43528             a  I-Claim
43529        modern  I-Claim
43530       library  I-Claim
43531             .        O
43532           NaN      NaN

[43533 rows x 2 columns]

In [164]:
process_dataset['2'] = dataset['1']
process_dataset['3'] = dataset['2']
process_dataset

                  0        1    2      3
0      Universities        O    O      O
1           require        O    O      O
2          students        O    O      O
3                to        O    O      O
4             study        O    O      O
...             ...      ...  ...    ...
43528             a  I-Claim    I  Claim
43529        modern  I-Claim    I  Claim
43530       library  I-Claim    I  Claim
43531             .        O    O      O
43532           NaN      NaN  NaN    NaN

[43533 rows x 4 columns]

In [165]:
process_dataset.to_csv(resultname,sep='\t',header=None,index=False)